In [1]:
## using xlrd to read excel files
## using pandas to import and show data in table formate
import xlrd
import pandas as pd

## data is imported from an excel file
esport = pd.read_excel("../data/GeneralEsportData.xlsx")
esport

,Game,ReleaseDate,Genre,TotalEarnings,OnlineEarnings,TotalPlayers,TotalTournaments
0,Age of Empires,1997,Strategy,190075.61,33235.72,246,95
1,Age of Empires II,1999,Strategy,1480089.01,862909.14,827,549
2,Age of Empires III,2005,Strategy,66463.85,24963.85,86,72
3,Age of Empires Online,2011,Strategy,2668.00,2668.00,16,7
4,Age of Mythology,2002,Strategy,52360.00,360.00,22,6
...,...,...,...,...,...,...,...
487,Gears of War,2006,Third-Person Shooter,252195.57,0.00,33,18
488,Gears of War 2,2008,Third-Person Shooter,135000.00,0.00,0,5
489,Gears of War 3,2011,Third-Person Shooter,7255.81,2700.00,13,4
490,Gears of War 4,2016,Third-Person Shooter,3087285.00,32285.00,135,41
491,Gears of War: Ultimate Edition,2015,Third-Person Shooter,170000.00,0.00,39,3

In [2]:
# showing the index of the table. titles of the columns
esport.keys()

Index(['Game', 'ReleaseDate', 'Genre', 'TotalEarnings', 'OnlineEarnings',
       'TotalPlayers', 'TotalTournaments'],
      dtype='object')

In [3]:
# shows what each column contains referring to whether it is numbers or words
esport.dtypes

Game                 object
ReleaseDate           int64
Genre                object
TotalEarnings       float64
OnlineEarnings      float64
TotalPlayers          int64
TotalTournaments      int64
dtype: object

In [4]:
# showing the first 10 rows of the data
esport.head(10)

,Game,ReleaseDate,Genre,TotalEarnings,OnlineEarnings,TotalPlayers,TotalTournaments
0,Age of Empires,1997,Strategy,190075.61,33235.72,246,95
1,Age of Empires II,1999,Strategy,1480089.01,862909.14,827,549
2,Age of Empires III,2005,Strategy,66463.85,24963.85,86,72
3,Age of Empires Online,2011,Strategy,2668.00,2668.00,16,7
4,Age of Mythology,2002,Strategy,52360.00,360.00,22,6
5,Auto Chess,2019,Strategy,1076322.28,40800.00,72,6
6,Brawl Stars,2018,Strategy,94950.00,8700.00,51,10
7,Chess.com,2007,Strategy,774490.96,774490.96,586,153
8,chess24,2014,Strategy,1084696.09,1084696.09,60,9
9,Clash of Clans,2012,Strategy,765216.87,0.00,77,5

In [5]:
# showing the names of the columns again to prep for correcting some of them
esport.columns.tolist()

['Game',
 'ReleaseDate',
 'Genre',
 'TotalEarnings',
 'OnlineEarnings',
 'TotalPlayers',
 'TotalTournaments']

In [6]:
# getting the variable to represent the column titles into a more clean formate
col_names = ['Game',
 'ReleaseDate',
 'Genre',
 'TotalEarnings',
 'OnlineEarnings',
 'TotalPlayers',
 'TotalTournaments']

esport.columns = col_names

esport

,Game,ReleaseDate,Genre,TotalEarnings,OnlineEarnings,TotalPlayers,TotalTournaments
0,Age of Empires,1997,Strategy,190075.61,33235.72,246,95
1,Age of Empires II,1999,Strategy,1480089.01,862909.14,827,549
2,Age of Empires III,2005,Strategy,66463.85,24963.85,86,72
3,Age of Empires Online,2011,Strategy,2668.00,2668.00,16,7
4,Age of Mythology,2002,Strategy,52360.00,360.00,22,6
...,...,...,...,...,...,...,...
487,Gears of War,2006,Third-Person Shooter,252195.57,0.00,33,18
488,Gears of War 2,2008,Third-Person Shooter,135000.00,0.00,0,5
489,Gears of War 3,2011,Third-Person Shooter,7255.81,2700.00,13,4
490,Gears of War 4,2016,Third-Person Shooter,3087285.00,32285.00,135,41
491,Gears of War: Ultimate Edition,2015,Third-Person Shooter,170000.00,0.00,39,3

In [7]:
# testing esport.columns to make sure the variable name wa changed
esport.columns

Index(['Game', 'ReleaseDate', 'Genre', 'TotalEarnings', 'OnlineEarnings',
       'TotalPlayers', 'TotalTournaments'],
      dtype='object')

In [8]:
# using info() to make sure no information is missing in any column
esport.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 492 entries, 0 to 491
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Game              492 non-null    object
 1   ReleaseDate       492 non-null    int64
 2   Genre             492 non-null    object
 3   TotalEarnings     492 non-null    float64
 4   OnlineEarnings    492 non-null    float64
 5   TotalPlayers      492 non-null    int64
 6   TotalTournaments  492 non-null    int64
dtypes: float64(2), int64(3), object(2)
memory usage: 23.1+ KB

In [9]:
# adding space between column titles with two words

esport.rename(columns = {"ReleaseDate": "Release Date", "TotalEarnings": "Total Earnings", "OnlineEarnings": "Online Earnings", "TotalPlayers": "Total Players", "TotalTournaments": "Total Tournaments"})

,Game,Release Date,Genre,Total Earnings,Online Earnings,Total Players,Total Tournaments
0,Age of Empires,1997,Strategy,190075.61,33235.72,246,95
1,Age of Empires II,1999,Strategy,1480089.01,862909.14,827,549
2,Age of Empires III,2005,Strategy,66463.85,24963.85,86,72
3,Age of Empires Online,2011,Strategy,2668.00,2668.00,16,7
4,Age of Mythology,2002,Strategy,52360.00,360.00,22,6
...,...,...,...,...,...,...,...
487,Gears of War,2006,Third-Person Shooter,252195.57,0.00,33,18
488,Gears of War 2,2008,Third-Person Shooter,135000.00,0.00,0,5
489,Gears of War 3,2011,Third-Person Shooter,7255.81,2700.00,13,4
490,Gears of War 4,2016,Third-Person Shooter,3087285.00,32285.00,135,41
491,Gears of War: Ultimate Edition,2015,Third-Person Shooter,170000.00,0.00,39,3

In [18]:
esport.to_excel("../data/EsportCorrected.xlsx", index = False)