In [8]:
## using xlrd to read excel files
## using pandas to import and show data in table formate
import numpy as np
import xlrd
import pandas as pd

## data is imported from an excel file
esport = pd.read_excel("../data/GeneralEsportData.xlsx")
esport

,Game,ReleaseDate,Genre,TotalEarnings,OnlineEarnings,TotalPlayers,TotalTournaments
0,Age of Empires,1997,Strategy,190075.61,33235.72,246,95
1,Age of Empires II,1999,Strategy,1480089.01,862909.14,827,549
2,Age of Empires III,2005,Strategy,66463.85,24963.85,86,72
3,Age of Empires Online,2011,Strategy,2668.00,2668.00,16,7
4,Age of Mythology,2002,Strategy,52360.00,360.00,22,6
...,...,...,...,...,...,...,...
487,Gears of War,2006,Third-Person Shooter,252195.57,0.00,33,18
488,Gears of War 2,2008,Third-Person Shooter,135000.00,0.00,0,5
489,Gears of War 3,2011,Third-Person Shooter,7255.81,2700.00,13,4
490,Gears of War 4,2016,Third-Person Shooter,3087285.00,32285.00,135,41
491,Gears of War: Ultimate Edition,2015,Third-Person Shooter,170000.00,0.00,39,3

In [48]:
# showing the index of the table. titles of the columns
esport.keys()

Index(['Game', 'ReleaseDate', 'Genre', 'TotalEarnings', 'OnlineEarnings',
       'TotalPlayers', 'TotalTournaments'],
      dtype='object')

In [49]:
# shows what each column contains referring to whether it is numbers or words
esport.dtypes

Game                 object
ReleaseDate           int64
Genre                object
TotalEarnings       float64
OnlineEarnings      float64
TotalPlayers          int64
TotalTournaments      int64
dtype: object

In [50]:
# showing the names of the columns again to prep for correcting some of them
esport.columns.tolist()

['Game',
 'ReleaseDate',
 'Genre',
 'TotalEarnings',
 'OnlineEarnings',
 'TotalPlayers',
 'TotalTournaments']

In [51]:
# getting the variable to represent the column titles into a more clean formate
col_names = ['Game',
 'ReleaseDate',
 'Genre',
 'TotalEarnings',
 'OnlineEarnings',
 'TotalPlayers',
 'TotalTournaments']

esport.columns = col_names

esport

,Game,ReleaseDate,Genre,TotalEarnings,OnlineEarnings,TotalPlayers,TotalTournaments
0,Age of Empires,1997,Strategy,190075.61,33235.72,246,95
1,Age of Empires II,1999,Strategy,1480089.01,862909.14,827,549
2,Age of Empires III,2005,Strategy,66463.85,24963.85,86,72
3,Age of Empires Online,2011,Strategy,2668.00,2668.00,16,7
4,Age of Mythology,2002,Strategy,52360.00,360.00,22,6
...,...,...,...,...,...,...,...
487,Gears of War,2006,Third-Person Shooter,252195.57,0.00,33,18
488,Gears of War 2,2008,Third-Person Shooter,135000.00,0.00,0,5
489,Gears of War 3,2011,Third-Person Shooter,7255.81,2700.00,13,4
490,Gears of War 4,2016,Third-Person Shooter,3087285.00,32285.00,135,41
491,Gears of War: Ultimate Edition,2015,Third-Person Shooter,170000.00,0.00,39,3

In [52]:
# testing esport.columns to make sure the variable name wa changed
esport.columns

Index(['Game', 'ReleaseDate', 'Genre', 'TotalEarnings', 'OnlineEarnings',
       'TotalPlayers', 'TotalTournaments'],
      dtype='object')

In [53]:
# using info() to make sure no information is missing in any column
esport.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 492 entries, 0 to 491
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Game              492 non-null    object
 1   ReleaseDate       492 non-null    int64
 2   Genre             492 non-null    object
 3   TotalEarnings     492 non-null    float64
 4   OnlineEarnings    492 non-null    float64
 5   TotalPlayers      492 non-null    int64
 6   TotalTournaments  492 non-null    int64
dtypes: float64(2), int64(3), object(2)
memory usage: 23.1+ KB

In [54]:
# showing compiled data
esport.describe()

,ReleaseDate,TotalEarnings,OnlineEarnings,TotalPlayers,TotalTournaments
count,492.000000,4.920000e+02,4.920000e+02,492.000000,492.000000
mean,2010.815041,1.739257e+06,3.037336e+05,184.953252,81.504065
std,6.931167,1.267833e+07,2.745175e+06,793.801629,413.798678
min,1981.000000,0.000000e+00,0.000000e+00,0.000000,0.000000
25%,2006.000000,1.020625e+03,0.000000e+00,3.000000,1.000000
50%,2013.000000,3.500000e+04,0.000000e+00,18.000000,5.000000
75%,2017.000000,2.001500e+05,6.589448e+03,83.250000,26.000000
max,2020.000000,2.260857e+08,5.231200e+07,12981.000000,5891.000000

In [61]:
# croped data so only the games that cam out in the last 20 years are used
df = esport[esport.ReleaseDate >= 2000]
df

,Game,ReleaseDate,Genre,TotalEarnings,OnlineEarnings,TotalPlayers,TotalTournaments
2,Age of Empires III,2005,Strategy,66463.85,24963.85,86,72
3,Age of Empires Online,2011,Strategy,2668.00,2668.00,16,7
4,Age of Mythology,2002,Strategy,52360.00,360.00,22,6
5,Auto Chess,2019,Strategy,1076322.28,40800.00,72,6
6,Brawl Stars,2018,Strategy,94950.00,8700.00,51,10
...,...,...,...,...,...,...,...
487,Gears of War,2006,Third-Person Shooter,252195.57,0.00,33,18
488,Gears of War 2,2008,Third-Person Shooter,135000.00,0.00,0,5
489,Gears of War 3,2011,Third-Person Shooter,7255.81,2700.00,13,4
490,Gears of War 4,2016,Third-Person Shooter,3087285.00,32285.00,135,41
491,Gears of War: Ultimate Edition,2015,Third-Person Shooter,170000.00,0.00,39,3

In [66]:
df.ReleaseDate.to_list()

[2005,
 2011,
 2002,
 2019,
 2018,
 2007,
 2014,
 2012,
 2016,
 2007,
 2013,
 2016,
 2019,
 2015,
 2018,
 2015,
 2020,
 2010,
 2000,
 2007,
 2002,
 2017,
 2020,
 2006,
 2016,
 2010,
 2018,
 2007,
 2007,
 2019,
 2019,
 2016,
 2002,
 2020,
 2005,
 2009,
 2019,
 2007,
 2010,
 2016,
 2001,
 2018,
 2016,
 2005,
 2006,
 2011,
 2013,
 2018,
 2015,
 2019,
 2016,
 2017,
 2019,
 2003,
 2005,
 2007,
 2014,
 2010,
 2012,
 2018,
 2015,
 2013,
 2016,
 2019,
 2019,
 2009,
 2011,
 2020,
 2017,
 2000,
 2016,
 2004,
 2012,
 2004,
 2015,
 2007,
 2007,
 2003,
 2005,
 2020,
 2016,
 2004,
 2017,
 2007,
 2020,
 2015,
 2005,
 2006,
 2015,
 2017,
 2017,
 2004,
 2014,
 2007,
 2012,
 2015,
 2001,
 2020,
 2010,
 2018,
 2017,
 2013,
 2008,
 2016,
 2004,
 2015,
 2008,
 2005,
 2017,
 2010,
 2011,
 2015,
 2006,
 2008,
 2018,
 2015,
 2001,
 2013,
 2007,
 2007,
 2013,
 2004,
 2015,
 2017,
 2002,
 2005,
 2007,
 2016,
 2016,
 2002,
 2004,
 2007,
 2020,
 2013,
 2012,
 2003,
 2010,
 2015,
 2015,
 2016,
 2011,
 2018,
 2003,
 2004,
 2013,
 2017,
 2010,
 2015,
 2020,
 2009,
 2015,
 2011,
 2016,
 2016,
 2015,
 2014,
 2019,
 2007,
 2014,
 2012,
 2012,
 2013,
 2004,
 2004,
 2018,
 2007,
 2011,
 2009,
 2014,
 2013,
 2017,
 2013,
 2008,
 2015,
 2012,
 2015,
 2011,
 2010,
 2018,
 2015,
 2017,
 2000,
 2001,
 2013,
 2005,
 2012,
 2013,
 2015,
 2019,
 2004,
 2004,
 2014,
 2015,
 2001,
 2013,
 2018,
 2004,
 2014,
 2000,
 2019,
 2019,
 2018,
 2016,
 2014,
 2017,
 2002,
 2003,
 2007,
 2008,
 2012,
 2005,
 2005,
 2003,
 2019,
 2017,
 2013,
 2019,
 2013,
 2009,
 2005,
 2010,
 2016,
 2016,
 2018,
 2020,
 2000,
 2011,
 2017,
 2009,
 2010,
 2017,
 2019,
 2019,
 2011,
 2008,
 2015,
 2016,
 2019,
 2016,
 2005,
 2015,
 2012,
 2013,
 2016,
 2016,
 2017,
 2002,
 2019,
 2017,
 2000,
 2010,
 2019,
 2017,
 2015,
 2015,
 2019,
 2019,
 2004,
 2020,
 2019,
 2005,
 2012,
 2015,
 2014,
 2018,
 2020,
 2018,
 2003,
 2013,
 2008,
 2012,
 2018,
 2009,
 2016,
 2018,
 2020,
 2012,
 2008,
 2014,
 2001,
 2018,
 2008,
 2010,
 2010,
 2010,
 2001,
 2004,
 2006,
 2007,
 2015,
 2011,
 2018,
 2009,
 2013,
 2011,
 2019,
 2014,
 2010,
 2014,
 2015,
 2020,
 2002,
 2007,
 2010,
 2019,
 2008,
 2018,
 2014,
 2018,
 2019,
 2018,
 2019,
 2007,
 2009,
 2011,
 2015,
 2017,
 2001,
 2004,
 2017,
 2019,
 2008,
 2004,
 2003,
 2017,
 2017,
 2019,
 2001,
 2002,
 2006,
 2005,
 2007,
 2009,
 2003,
 2004,
 2015,
 2017,
 2003,
 2005,
 2007,
 2013,
 2013,
 2016,
 2020,
 2011,
 2013,
 2013,
 2006,
 2008,
 2016,
 2006,
 2008,
 2014,
 2013,
 2019,
 2002,
 2003,
 2004,
 2005,
 2006,
 2007,
 2008,
 2009,
 2010,
 2011,
 2012,
 2013,
 2014,
 2015,
 2016,
 2017,
 2018,
 2019,
 2000,
 2002,
 2012,
 2018,
 2009,
 2007,
 2008,
 2014,
 2018,
 2003,
 2005,
 2006,
 2007,
 2008,
 2012,
 2015,
 2016,
 2017,
 2018,
 2012,
 2017,
 2018,
 2011,
 2012,
 2013,
 2014,
 2016,
 2017,
 2018,
 2007,
 2008,
 2012,
 2013,
 2014,
 2015,
 2016,
 2017,
 2019,
 2003,
 2004,
 2005,
 2006,
 2015,
 2018,
 2018,
 2020,
 2017,
 2016,
 2017,
 2014,
 2020,
 2018,
 2002,
 2016,
 2017,
 2017,
 2016,
 2011,
 2019,
 2014,
 2020,
 2019,
 2014,
 2020,
 2014,
 2008,
 2019,
 2017,
 2017,
 2016,
 2017,
 2017,
 2018,
 2017,
 2019,
 2006,
 2008,
 2011,
 2016,
 2015]

In [67]:
# compiled data again for new set
df.describe()

,ReleaseDate,TotalEarnings,OnlineEarnings,TotalPlayers,TotalTournaments
count,453.000000,4.530000e+02,4.530000e+02,453.000000,453.000000
mean,2012.059603,1.863059e+06,3.271524e+05,194.779249,84.885210
std,5.622606,1.320094e+07,2.859632e+06,825.070166,429.580779
min,2000.000000,0.000000e+00,0.000000e+00,0.000000,0.000000
25%,2007.000000,1.395970e+03,0.000000e+00,3.000000,1.000000
50%,2013.000000,3.744566e+04,0.000000e+00,20.000000,5.000000
75%,2017.000000,2.244670e+05,8.700000e+03,86.000000,28.000000
max,2020.000000,2.260857e+08,5.231200e+07,12981.000000,5891.000000

In [68]:
# making sure nothing is missing
df.isnull().sum()

Game                0
ReleaseDate         0
Genre               0
TotalEarnings       0
OnlineEarnings      0
TotalPlayers        0
TotalTournaments    0
dtype: int64

In [ ]:
# exporting data
df.to_excel("../data/EsportCorrected_1.xlsx", index = False)